name: Build and Test

on:
  push:
    branches:
      - main  # Altere para o nome da sua branch principal, se necessário

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v2

    - name: Configurar JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'

    - name: Build com Maven
      run: mvn -B clean install

    - name: Rodar Testes Unitários
      run: mvn test

    - name: Gerar Relatório de Cobertura com JaCoCo
      run: mvn jacoco:report

    - name: Arquivar Relatórios de Cobertura
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: target/site/jacoco
