name: Build and Test

on:
  push:
    branches:
      - main  # Altere para o nome da sua branch principal, se necess치rio

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do C칩digo
      uses: actions/checkout@v2

    - name: Configurar JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'

    - name: Build com Maven
      run: mvn -B clean install

    - name: Rodar Testes Unit치rios
      run: mvn test

    - name: Gerar Relat칩rio de Cobertura
      run: mvn jacoco:report  
  
